<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML5 Image Editor</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script type="text/javascript" src="js/libs/jquery.2.2.4.js"></script>
    <script type="text/javascript" src="js/libs/jquery-ui.js"></script>
    <script type="text/javascript" src="js/libs/bootstrap.js"></script>
</head>
<body ng-app="app">
<div class="large-container" ng-controller="AppController">
    <div class="nav-left">
        <div class="logo">
            <img src="images/content/logo/logo.png">
        </div>
        <div class="large-tab">
            <div class="child-tab" ng-click="activeTab('create')"><i class="material-icons">create</i>POSTER</div>
            <div class="child-tab" ng-click="activeTab('material')"><i class="material-icons">photo</i>MATERIAL</div>
            <div class="child-tab" ng-click="activeTab('text')"><i class="material-icons">title</i>TEXT</div>
            <div class="child-tab" ng-click="activeTab('upload')"><i class="material-icons">file_upload</i>UPLOAD</div>
            <div class="child-tab" ng-click="activeTab('template')"><i class="material-icons">satellite</i>TEMPLATE</div>
        </div>
        <div class="content-tab">
            <div id="ct_1" class="ct_content" ng-show="tabLeftActive.tabCreateActive">
                <div class="ct_1_content non-select">
                    <div class="create-object">
                        <div class="create-item item1" ng-click="createPoster($event.currentTarget)" data-width="500" data-height="700">
                            <span class="create-item-name">A4</span>
                            <span class="create-item-size">(500*700)</span>
                        </div>
                    </div>
                    <div class="create-object">
                        <div class="create-item item2" ng-click="createPoster($event.currentTarget)" data-width="500" data-height="500">
                            <span class="create-item-name">Instagram</span>
                            <span class="create-item-size">(500*500)</span>
                        </div>
                    </div>
                    <div class="create-object">
                        <div class="create-item item3" ng-click="createPoster($event.currentTarget)" data-width="828" data-height="315">
                            <span class="create-item-name">Facebook</span>
                            <span class="create-item-size">(828*315)</span>
                        </div>
                    </div>
                    <div class="create-object">
                        <div class="create-item item4" ng-click="createPoster($event.currentTarget)" data-width="1280" data-height="760">
                            <span class="create-item-name">Youtube</span>
                            <span class="create-item-size">(1280*760)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ct_2" class="ct_content" ng-show="tabLeftActive.tabMaterialActive">
                <div class="ct_2_content">
                    <div class="create-material">
                        <div class="material-item">
                            <img src="">
                        </div>
                    </div>
                    <div class="create-material">
                        <div class="material-item">
                            <img src="">
                        </div>
                    </div>
                    <div class="create-material">
                        <div class="material-item">
                            <img src="">
                        </div>
                    </div>
                    <div class="create-material">
                        <div class="material-item">
                            <img src="">
                        </div>
                    </div>
                    <div class="create-material">
                        <div class="material-item">
                            <img src="">
                        </div>
                    </div>
                    <div class="create-material">
                        <div class="material-item">
                            <img src="">
                        </div>
                    </div>
                    <div class="create-material">
                        <div class="material-item">
                            <img src="">
                        </div>
                    </div>
                    <div class="create-material">
                        <div class="material-item">
                            <img src="">
                        </div>
                    </div>
                    <div class="create-material">
                        <div class="material-item">
                            <img src="">
                        </div>
                    </div>
                    <div class="create-material">
                        <div class="material-item">
                            <img src="">
                        </div>
                    </div>
                </div>
            </div>
            <div id="ct_3" class="ct_content" ng-show="tabLeftActive.tabTextActive">
                <div class="ct_3_content">
                    <div id="text-style-1" class="text-object large-text non-select" ng-click="createText('Text',60,false,false)">Large</div>
                    <div id="text-style-2" class="text-object medium-text non-select" ng-click="createText('Text',30,false,false)">Medium</div>
                    <div id="text-style-3" class="text-object small-text non-select" ng-click="createText('Text',15,false,false)">Small</div>
                    <div id="text-style-4" class="text-object bold large-text non-select" ng-click="createText('Text',60,true,false)">Bold Large</div>
                    <div id="text-style-5" class="text-object bold medium-text non-select" ng-click="createText('Text',30,true,false)">Bold Medium</div>
                    <div id="text-style-6" class="text-object bold small-text non-select" ng-click="createText('Text',15,true,false)">Bold Small</div>
                    <div id="text-style-7" class="text-object italic large-text non-select" ng-click="createText('Text',60,false,true)">Italic Large</div>
                    <div id="text-style-8" class="text-object italic medium-text non-select" ng-click="createText('Text',30,false,true)">Italic Medium</div>
                    <div id="text-style-9" class="text-object italic small-text non-select" ng-click="createText('Text',15,false,true)">Italic Small</div>
                    <div id="text-style-10" class="text-object bold italic large-text non-select" ng-click="createText('Text',60,true,true)">Bold Large</div>
                    <div id="text-style-11" class="text-object bold italic medium-text non-select" ng-click="createText('Text',30,true,true)">Bold Medium</div>
                    <div id="text-style-12" class="text-object bold italic small-text non-select" ng-click="createText('Text',15,true,true)">Bold Small</div>
                </div>
            </div>
            <div id="ct_4" class="ct_content" ng-show="tabLeftActive.tabUploadActive">
                <div class="ct_4_content">
                    <div id="upload-area" ondragend="angular.element(document.getElementById('upload-area')).scope().uploadFileDragend(event)"
                         ondragover="angular.element(document.getElementById('upload-area')).scope().uploadFileDragover(event)"
                         ondrop="angular.element(document.getElementById('upload-area')).scope().uploadFileDrop(event,$event.currentTarget)">
                    </div>
                    <p id="status"></p>
                </div>
            </div>
            <div id="ct_5" class="ct_content" ng-show="tabLeftActive.tabTemplateActive">
                <div class="ct_5_content">
                    Template
                </div>
            </div>
        </div>
    </div>
    <div class="nav-right">
        <div class="common-action">
            <div class="child-tab" id="clear">CLEAR IMAGE</div>
            <div class="child-tab" id="showcase"><i class="material-icons">star_border</i>PREMIUM SHOWCASE</div>
            <div class="child-tab" id="export">DOWNLOAD</div>
            <div class="child-tab" id="share">SHARE</div>
        </div>
        <div class="common-tool">
            <div class="child-tab"><i class="material-icons">undo</i>UNDO</div>
            <div class="child-tab"><i class="material-icons">redo</i>REDO</div>
            <div class="child-tab" ng-click="decreaseZoom()"><i class="material-icons">remove</i>ZOOM DOWN</div>
            <div class="child-tab">ZOOM SCROLL</div>
            <div class="child-tab" ng-click="increaseZoom()"><i class="material-icons">add</i>ZOOM UP</div>
            <div class="child-tab">{{percentZoom}} %</div>
            <div class="child-tab" ng-click="zoomEntire()"><i class="material-icons">fullscreen</i>SCALE ENTIRE</div>
            <div class="child-tab"><i class="material-icons">fullscreen_exit</i>FIT SCREEN</div>
            <div class="child-tab"><i class="material-icons">pan_tool</i>PAN TOOL</div>
            <div class="child-tab"><i class="material-icons">arrow_downward</i>MOVE DOWN</div>
            <div class="child-tab"><i class="material-icons">arrow_upward</i>MOVE UP</div>
            <div class="child-tab"><i class="material-icons">vertical_align_bottom</i>MOVE BOTTOM</div>
            <div class="child-tab"><i class="material-icons">vertical_align_top</i>MOVE TOP</div>
            <div class="child-tab"><i class="material-icons">content_copy</i>CLONE</div>
            <div class="child-tab"><i class="material-icons">lock_outline</i>LOCK</div>
            <div class="child-tab"><i class="material-icons">delete</i>DELETE</div>
        </div>
        <div id="canvas-working-area">
            <canvas id="canvas">

            </canvas>
        </div>
    </div>
    <div id="layer">
        <div id="layer-large-container">
            <div id="layer-panel-drag">
                <i class="material-icons">drag_handle</i>
                <span>Layer (drag & drop)</span>
            </div>
            <div id="layer-tool">
            </div>
            <div id="layer-list">
                <div class="layer-object" ng-repeat="obj in canvasObjects" ng-click="layerToggleActive(obj)" ng-dblclick="openLayerStyle(obj)">
                    <div class="layer-object-display">
                        <i class="material-icons non-select" ng-class="{'object-visible': obj.display}"
                        ng-click="layerToggleHidden(obj)">remove_red_eye</i>
                    </div>
                    <div class="layer-object-icon"><img ng-src="{{obj.image}}"></div>
                    <div class="layer-object-name"><span>{{obj.name}}</span></div>
                </div>
                <!--<div class="layer-object">-->
                    <!--<div class="layer-object-display"><i class="material-icons non-select">remove_red_eye</i></div>-->
                    <!--<div class="layer-object-icon"><img src=""></div>-->
                    <!--<div class="layer-object-name"><span>ádasdasdasd</span></div>-->
                <!--</div>-->
                <!--<div class="layer-object">-->
                    <!--<div class="layer-object-display"><i class="material-icons non-select">remove_red_eye</i></div>-->
                    <!--<div class="layer-object-icon"><img src=""></div>-->
                    <!--<div class="layer-object-name"><span>Image2</span></div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div id="layer-style">
        <div id="layer-style-container">
            <div id="layer-style-panel-drag" class="non-select">
                <i class="material-icons">drag_handle</i>
                <span>Layer Style</span>
                <span>(drag & drop)</span>
            </div>
            <div id="layer-style-list" class="non-select">
                <div id="layer-style-list-left">
                    <div class="layer-style-list-option">
                        <input type="checkbox" name="vehicle" value="Bike" id="layer-style-blending">
                        <label for="layer-style-blending">Blending Options</label>
                    </div>
                    <div class="layer-style-list-option">
                        <input type="checkbox" name="vehicle" value="Bike" id="layer-style-stroke">
                        <label for="layer-style-stroke">Stroke</label>
                    </div>
                    <div class="layer-style-list-option">
                        <input type="checkbox" name="vehicle" value="Bike" id="layer-style-dropshadow">
                        <label for="layer-style-dropshadow">Drop Shadow</label>
                    </div>
                    <div class="layer-style-list-option">
                        <input type="checkbox" name="vehicle" value="Bike" id="layer-style-coloroverlay">
                        <label for="layer-style-coloroverlay">Color Overlay</label>
                    </div>
                    <div class="layer-style-list-option">
                        <input type="checkbox" name="vehicle" value="Bike" id="layer-style-gradientoverlay">
                        <label for="layer-style-gradientoverlay">Gradient Overlay</label>
                    </div>
                    <div class="layer-style-list-option">
                        <input type="checkbox" name="vehicle" value="Bike" id="layer-style-patternoverlay">
                        <label for="layer-style-patternoverlay">Pattern Overlay</label>
                    </div>
                </div>
                <div id="layer-style-list-center">

                </div>
                <div id="layer-style-list-right">
                    <div class="layer-style-button">OK</div>
                    <div class="layer-style-button">Cancel</div>
                    <div id="layer-style-group-preview">
                        <div id="layer-style-group-checkbox">
                            <input type="checkbox" name="vehicle" value="Bike" id="layer-style-preview">
                            <label for="layer-style-preview">Preview</label>
                        </div>
                        <div id="layer-style-group-image-preview">
                            <img src="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="showcase-container">
        <div id="showcase-modal">
            <div class="title">
               <i class="material-icons">star_border</i>PREMIUM SHOWCASE
            </div>
            <div class="showcase-name">
                3D TRANSFORMATION
            </div>
            <div class="showcase-canvas-container">
                <canvas id="showcase-canvas"></canvas>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/libs/angular.js"></script>
<script type="text/javascript" src="js/app-config.js"></script>
<script type="text/javascript" src="js/angularjs/app-controller.js"></script>
<script type="text/javascript" src="js/angularjs/config.js"></script>
<script src="js/style.js"></script>
<script src="js/libs/fabric.1.7.11.js"></script>
<script src="js/main.js"></script>
<script src="js/showcase.js"></script>
<script src="js/background-canvas.js"></script>
<script src="js/create-poster.js"></script>
<script src="js/create-text.js"></script>
<script src="js/libs/download.js"></script>
<script src="js/export.js"></script>
<script src="js/clear.js"></script>
<script src="js/share.js"></script>
</body>
</html>